body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Adamina', serif;
}

nav {
    text-transform: uppercase;
}

.jumbotron-fluid {
    margin-bottom: 0;
    background-color: rgb(004, 003, 008);
}

.carousel-caption-shadow {
    text-shadow: 3px 0 5px black;
}

.index-header {
    padding: 0;
    margin: 0;
    width: 100%;
}