body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Adamina', serif;
}

nav {
    text-transform: uppercase;
}

.jumbotron-fluid {
    margin-bottom: 0;
    background-color: rgb(004, 003, 008);
}
/* How do i get footer to the botom on contact page - position fixed did not work - document is short expand-content is temp fix */
.expand-content {
    min-height: 100vh;
    position: relative;
}

.footer {
    position: absolute;
    bottom: 0;
}
/* .contact-footer {
    position: fixed;
    bottom: 0;
} */

/* Breakpoints for sort order */
/* @media (max-width: 992px){ 

.sort-order-1 {
    order: 1;
}
.sort-order-2 {
    order: 2;
}

} */